<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	 <title>Le Pug Classifier</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	   <link rel="icon" type="image/x-icon" href="http://icons.iconarchive.com/icons/iconka/tailwaggers/72/dog-pug-icon.png">
	</head>
  <body>
	<nav class="navbar navbar-dark bg-dark">
	  <a class="navbar-brand" href="#">Le Pug Classifier</a>
	</nav>
	<div class="container">
		<br>
	    {% block content %}
	    {% endblock %}
	</div>
  </body>
</html>